/*******************Tag selectors***************/
  body {
    background-color: #EAF6F6;
  }

  h1{
    color: #937DC2;
  }

  h3{
    color: #937DC2;
  }


  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 10%;
  }

  /*****************Class selector***************/

/*
  .heading1{
    color: red;
  }
*/

/*******************id selector******************/

/*
#heading3{
  color: red;
}
*/
